{% extends "layout.html" %}
{% block content %}
    <h1>Achievements</h1>
    <section>
        <ul id="achievementList" disabled>
            <div id = "checks">
            <li><input type="checkbox" id="ach1" {{ check1 }} disabled><label for="ach1">On top of the world (Reach 500 ft in altitude)</label></li>
            </div>
            <div id = "checks">
            <li><input type="checkbox" id="ach2" {{ check2 }} disabled><label for="ach2">Walkstar (Accelerometer)</label></li>
            </div>
            <div id = "checks">
            <li><input type="checkbox" id="ach3" {{ check3 }} disabled><label for="ach3">Run! (Accelerometer)</label></li>
            </div>
            <div id = "checks">
            <li><input type="checkbox" id="ach4" {{ check4 }} disabled><label for="ach4">Tropic Temperature Titan</label></li>
            </div>
            <div id = "checks">
            <li><input type="checkbox" id="ach5" {{ check5 }} disabled><label for="ach5">Chill Conqueror Crest</label></li>
            </div>

            </label></li>
        </ul>
        <h3>Points: </h3> 
        <!-- point calculation in script -->

    </section>

    <script>
        // write code to disable check boxes and enable them when certain qualities satisfied
    </script>
{% endblock content %}
