{% extends "layout.html" %}
{% block content %}
    <h1>Encyclopedia</h1>
    {% if num_plants == 0 %}
    <div style="text-align:center">
    <h2>No entries in the encyclopedia. </h2>
    <p>Find some plants and come back later.</p>
    </div>
    {% else %}
    <table class="dashboard-table">
        <tr><th>Plant name</th><th>Image</th>
        {% for plant in plant_dict %}
        <tr>
            <td>{{ plant_dict[plant].name }}</td>
            <td>
                <img id = "plant-image" src = {{ plant_dict[plant].image_url }}>
            </td>>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    
{% endblock content %}
